/* THE MEYER RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 

 input[type="search"] {
    -webkit-appearance: textfield; /* 1 
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 
    box-sizing: content-box;
  }
  
  /**
   * Removes inner padding and search cancel button in S5, Chrome on OS X
   
  
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

/* NORMALIZE.CSS */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 

 html {
  line-height: 1.15; /* 1 
  -webkit-text-size-adjust: 100%; /* 2 
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 

hr {
  box-sizing: content-box; /* 1 
  height: 0; /* 1 
  overflow: visible; /* 2 
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 

pre {
  font-family: monospace, monospace; /* 1 
  font-size: 1em; /* 2 
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 

abbr[title] {
  border-bottom: none; /* 1 
  text-decoration: underline; /* 2 
  text-decoration: underline dotted; /* 2 
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 
  font-size: 1em; /* 2 
}

/**
 * Add the correct font size in all browsers.
 

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 
  font-size: 100%; /* 1 
  line-height: 1.15; /* 1 
  margin: 0; /* 2 
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 

button,
input { /* 1 
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 

button,
select { /* 1 
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 

legend {
  box-sizing: border-box; /* 1 
  color: inherit; /* 2 
  display: table; /* 1 
  max-width: 100%; /* 1 
  padding: 0; /* 3 
  white-space: normal; /* 1 
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 
  padding: 0; /* 2 
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 

[type="search"] {
  -webkit-appearance: textfield; /* 1 
  outline-offset: -2px; /* 2 
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 
  font: inherit; /* 2 
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 

[hidden] {
  display: none;
}

/* RICHARD CLARK'S HTML5 RESET 

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

/* ZAP MARGIN AND PADDING FROM EVERYTHING 

* {
  padding: 0;
  margin: 0;
}

/* SANTIZE.CSS */

/*
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 

 ::-moz-selection {
	background-color: #b3d4fc; /* 1 
	color: #000000; /* 1 
	text-shadow: none;
}

::selection {
	background-color: #b3d4fc;  /* 1 
	color: #000000; /* 1 
	text-shadow: none;
}

/* REBOOT 

//
// Tables
//

table {
  border-collapse: collapse; // Prevent double borders
}

caption {
  padding-top: $table-cell-padding;
  padding-bottom: $table-cell-padding;
  color: $text-muted;
  text-align: left;
  caption-side: bottom;
}

th {
  // Matches default `<td>` alignment by inheriting from the `<body>`, or the
  // closest parent with a set `text-align`.
  text-align: inherit;
}
*/

/* ABSOLUTE LENGTH UNITS AND RELATIVE LENGTH UNITS */

html {
  background-color: peachpuff;
}

.box {
  border: 4px solid navy;
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin: 20px;
}

.wrapper {
  font-size: 1em;
}

.px {
  width: 200px; /* first box has a width set in pixels, and it remains the same no matter what else changes */
}

.vw {
  width: 10vw; /* second box has a width set in viewport width, so 10vw is 10 percent of the width of the viewport;
                  if I change the width of my browser window, the size of the box should change
                  the example on mdn is embedded into the page using <iframe>, so it won't work there */
}

.em {
  width: 10em; /* third box uses em units which are relative to the font size;
                   change the value to see that the font size of all the elements increases, but only this last box will get wider */
}

/* ems AND rems */

html {
  font-size: 16px;
}

.ems li {
  font-size: 1.3em;
}

.rems li {
  font-size: 1.3rem;
}

/* PERCENTAGES */

.wrapper2 {
  width: 400px;
  border: 5px solid rebeccapurple;
}

.px2 {
  width: 200px;
}

/* if I set an element's font size as a percentage, it will be a percentage of the font-size of the element's parent */
/* if I use a percentage for a width value, it will be a percentage of the width of the parent */
.percent {
  width: 40%;
}

.percentage {
  font-size: 80%; /* nested list items become progressively smaller as they inherit their sizing from their parents */
}

/* NUMBERS */

.box2 {
  opacity: 0.6;
}

/* COLOR KEYWORDS  */
/* specifying colors with color keywords */
.one {
  background-color: antiquewhite;
}

.two {
  background-color: blueviolet;
}

.three {
  background-color: greenyellow;
}

/* HEXADECIMAL RGB VALUES */

.four {
  background-color: #02798b;
}

.five {
  background-color: #c55da1;
}

.six {
  background-color: #128a7d;
}

/* RGB AND RGBA VALUES */

.seven {
  background-color: rgb(2, 121, 139, .3); /* the fourth parameter is the alpha channel which controls opacity */
}                                           /* using opacity makes an element and everything inside it opaque 
                                               using RGB with an alpha parameter only makes the color I am specifying opaque */
.eight {
  background-color: rgb(197, 93, 161, .7);
}

.nine {
  background-color: rgb(18, 138, 125, .9);
}

/* HSL AND HSLA VALUES */

.ten {
  background-color: hsl(188 97% 28% / .3); /* just like with rbg, I can pass an alpha parameter to hsl() to specify opacity */
}

.eleven {
  background-color: hsl(321 47% 57% / .7);
}

.twelve {
  background-color: hsl(174 77% 31% / .9);
}

/* IMAGES */

/* an image and a gradient in use as a value for the CSS background-image property */
.image {
  background-image: url(vecteezy_star_1189165.png);
  background-repeat: no-repeat;
  height: 600px;
}

.gradient {
  background-image: linear-gradient(90deg, rgba(119,0,255,1) 39%, rgba(0,212,255,1) 100%);
}

/* POSITION */

.box3 {
  height: 700px;
  width: 1100px;
  background-image: url(vecteezy_star_1189165.png);
  background-repeat: no-repeat;
  background-position: right 40px; /* positioning a background image 40px from the top and to the 
                       right of the container using a keyword */
}

/* STRINGS AND IDENTIFIERS */

.box4 {
  width:400px;
  padding: 1em;
  border-radius: .5em;
  border: 5px solid rebeccapurple; /* using unquoted color keywords */
  background-color: lightblue;
}

.box4::after {
  content: "This is a string. I know because it is quoted in the CSS." /* using a quoted generated content string */
}

/* FUNCTIONS */
.wrapper3 {
  width: 400px;
}

.box5 {
  width:400px;
  padding: 1em;
  border-radius: .5em;
  border: 5px solid rebeccapurple; /* using unquoted color keywords */
  background-color: lightblue;
  width: calc(20% + 100px); /* 20% is calculated from the width of the parent container, .wrapper */
}

#body {
  /* font grows 1px for every 100px of viewport width */
  font-size: calc(16px + 1vw);
  /* leading grows along with font,
     with an additional 0.1em + 0.5px per 100px of the viewport */
  line-height: calc(1.1em + 0.5vw);
}

#h1 {
  /* constrains the top-end for rapid-growth headings */
  font-size: calc(1.2em + 3vw);
}

@media (min-width: 50em) {
  #h1 {
    font-size: 50px;
  }
}

